@{
    ViewBag.Title = "Translate";
    Dictionary<string, string> languages = ViewBag.Languages;
    string selectedLang = ViewBag.SelectedLang;
}

<h2>Translator</h2>

<form role="form" method="post" class="row" data-ajax="true" data-ajax-update="#translate-result .contents" data-ajax-mode="replace">
    <div class="form-group col-md-2">
        <select class="form-control" name="translateFrom">
            <option value="detect">Detect language</option>
            @if (languages != null)
            {
                foreach (string key in languages.Keys)
                {
                    <option value="@key">@languages[key]</option>
                }
            }
        </select>
    </div>
    <div class="form-group col-md-2">
        <select class="form-control" name="translateTo" data-ajax="true" data-ajax-mode="replace" data-ajax-update="[name=translateTo]"> 
            @if (languages != null)
            {
                foreach (string key in languages.Keys)
                {
                    if (selectedLang == key)
                    {
                        <option value="@key" selected>@languages[key]</option>
                    }
                    else
                    {
                        <option value="@key">@languages[key]</option>
                    }
                }
            }
        </select>
    </div>
    <div class="form-group col-md-2">
        <input type="submit" name="submit" id="btnTranslate" class="btn btn-default" value="Translate" />
    </div>
    <div class="col-lg-6 form-group">
    </div>
    <div class="form-group textarea col-md-6">
        @Html.TextArea("txtTranslateText", "", new { @class = "form-control elastic" })
    </div>
    <div class="col-md-6" id="translate-result">
        @Html.Partial("_Result")
    </div>

</form>
